:root {
    --primary-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    --primaty-text-color: #2E2F42;
    --secondary-text-color: #434455;
    --accent-color: #2E2F42;
    --secondary-footer-color: #E7E9FC;
}


h1,h2,h3,h4,p {
    margin-top: 0; 
    margin-bottom: 0;
}

.container {
    width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

/* ====================COMPONENTS==================== */
/* цвет основного текста h1 #FFFFFF  */
/* цвет второстепенного текста h2 & h3 #2E2F42 */
/* абзац #434455 */

body {
    font-family: var(--primary-font);
    background-color: #FFFFFF;
    color: #434455;
}

.section {
    padding-top: 120px;
    padding-bottom: 120px;
}

ul, ol {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
}

.logo-studio-dark,
.logo-studio-white,
.logo-web,
.nav-link,
.contacts,
.link-works {
    text-decoration: none;
}


.text {
    flex-basis: auto;
    margin-top: 8px;
    font-family: var(--primary-font);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
}
/* ====================/COMPONENTS==================== */

/* ====================HEADER==================== */

.page-header {
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08)
}

.page-header-contaniar {
    display: flex;
}

.page-nav {
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.menu-item {
    flex-basis: calc((100% - 80px) / 3);
}


.logo {
    margin-right: 77px;
}

.logo-web {
    color: #4D5AE5;
}

.logo-studio-dark {
    font-family: var(--secondary-font);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--accent-color);
}

.nav-link:hover,
.nav-link:focus {
    color: #4D5AE5;
}
.nav-link {
    padding-top: 24px;
    padding-bottom: 24px;
    display: block;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--accent-color);

}

.communication {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    align-items: center;
    margin-left: auto; 
}


.contacts:hover,
.contacts:focus {
    color: #4D5AE5;
}
.contacts {
    padding-top: 24px;
    padding-bottom: 24px;
    display: block;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--accent-color);
}

/* =====================/HEADER==================== */

/* =====================HERO====================== */
.hero {
    text-align: center;
    padding-top: 192px;
    padding-bottom: 192px;
    background-color: var(--accent-color);
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)),
    url("../images/Hero-card.jpg");
    background-size: cover;
}


.hero-title {
    width: 496px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.hero-button:hover,
.hero-button:focus {
    color: #FFFFFF;
    background-color: #4D5AE5;
}
.hero-button {
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 32px;
    padding-right: 32px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background-color: #4D5AE5;
    border-color: transparent;
    cursor: pointer;
}
/* ======================/HERO====================== */

/* =====================ABOUT==================== */

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.quality-list-link {
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 264px;
    height: 112px;
    background-color: #F4F4FD;
}

.company-quality {
    padding-bottom: 0;
}

.title-section {
    margin-bottom: 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--accent-color);
}

.title-description {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--accent-color);
}
/* ============================= COMPANY-QUALITY =======================*/

.theses {
    display: flex;
    gap: 24px;

}

/* ============================= /COMPANY-QUALITY =======================*/

/* ============================= OUR WORKERS ==============================*/

.work-examples {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

/* ============================= /OUR WORKERS ==============================*/

/* =============================== EMPLOYEES ================================ */

.employees-section {
    background-color: #F4F4FD;
}

.employees {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.employees-card {
    flex-basis: calc((100% - 72px) / 4);
    background-color: #FFFFFF;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}

.employees-card-content-wrapper {
    padding-top: 32px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 32px;
    text-align: center;
}

.social-list {
    display: flex;
    gap: 24px;
}

.social-list-link {
    margin-top: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4D5AE5;
}
    

/* =============================== /EMPLOYEES ================================ */

/* =====================/ABOUT==================== */

/* ======================FOOTER===================== */
.footer {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: var(--accent-color);
}

.logo-web {
    color: #4D5AE5;
}

.logo-studio-white {
    font-family: var(--secondary-font);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #F4F4FD;
}
.footer-title {
    color: #FFFFFF;
    margin-bottom: 16px;
}
.text-footer {
    margin-top: 8px;
    width: 264px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--secondary-footer-color);
}

.footer-info {
    display: flex;  
}

.footer-description {
    display: block;
    margin-right: 120px;
}

.footer-social-media {
    display: block;
    
}

.footer-social-list {
    display: flex;
    gap: 24px;
}

.footer-social-list-link:focus,
.footer-social-list-link:hover {
    background-color: #31D0AA;
}

.footer-social-list-link {
    margin-top: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
}
/* ======================/FOOTER===================== */

/* ======================MAIN PORTFOLIO===================== */

.portfolio-section {
    padding-top: 96px;
    padding-bottom: 120px;
}

.menu-button:hover,
.menu-button:focus {
    color: #FFFFFF;
    background-color: #4D5AE5;
    box-shadow: 0px 3px 1px
    rgba(0, 0, 0, 0.1), 0px 2px 1px
    rgba(0, 0, 0, 0.08), 0px 2px 2px
    rgba(0, 0, 0, 0.12);
    border-color: transparent;
}

.menu-button {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    padding: 8px 16px;
    background-color: #F4F4FD;
    border: 1px solid #E7E9FC;
    color: #4D5AE5;
    cursor: pointer;
    border-radius: 4px;
}

.menu-portfolio {
    margin-bottom: 72px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
}

.works-portfolio {
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
}

.works-card-content-wrapper:hover,
.works-card-content-wrapper:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}


.works-card-content-wrapper {
    padding-top: 32px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 32px;
    border-radius: 0px 0px 4px 4px;
    border-left: 0.5px solid #F4F4FD;
    border-right: 0.5px solid #F4F4FD;
    border-bottom: 0.5px solid #F4F4FD;
}
/* ======================/MAIN PORTFOLIO===================== */